DEBUG=
SECRET_KEY=
ALLOWED_HOSTS=
DATABASE_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=


# .env
SECRET_KEY=your_django_secret_key
DEBUG=True
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
